<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/topics">Topic List</a></li>
        <li><a href="/about">About us<span class="sr-only">(current)</span></a></li>
        <!--
        <li><a href="/contact">Contact us</a></li>
        -->
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
    <div class="wrapper row2">
      <div id="container" class="clear">
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
        <section id="fof" class="clear">
          <!-- ####################################################################################################### -->
          <div class="hgroup clear">
            <h1>404</h1>
            <h2>Error ! <span>Page Not Found</span></h2>
          </div>
          <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
          <p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="">Go Home &raquo;</a></p>
          <!-- ####################################################################################################### -->
        </section>
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
      </div>
    </div>
</div>
  </div>
</body>
</html>
