<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<customHeaders>
          <add name="Access-Control-Allow-Origin" value="http://ec2-13-59-190-223.us-east-2.compute.amazonaws.com:3000/" />
</customHeaders>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/topics">Topic List</a></li>
        <li><a href="/about">About us<span class="sr-only">(current)</span></a></li>
        <!--
        <li><a href="/contact">Contact us</a></li>
        -->
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
  <p>
    Topics
  </p>
  <div id="topic_list">
    <script>
      function createElements(elements) {
        // Assuming you get an array of objects.
        elements = JSON.parse(elements);

        elements.forEach(function (element) {
            var div = document.getElementById(element.id);
            div.innerHTML = element.text;
        });
      }

      function reqListener () {
        console.log(this.responseText);
      }

      var oReq = new XMLHttpRequest();
      const kafkaReqAddress = 'http://ec2-13-59-190-223.us-east-2.compute.amazonaws.com:3000/'
      oReq.addEventListener("load", reqListener);
      oReq.open("GET", kafkaReqAddress + "topics");
      oReq.send();
      // 
      // var request = new XMLHttpRequest();
      //
      // request.onload = createElements;
      // //request.addHeader("Access-Control-Allow-Origin", kafkaReqAddress);
      // request.open("get", kafkaReqAddress + "topics", true);
      // request.send();
    </script>
  </div>
</div>
  </div>
</body>
</html>
