<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/topics">Topic List</a></li>
        <li><a href="/about">About us<span class="sr-only">(current)</span></a></li>
        <!--
        <li><a href="/contact">Contact us</a></li>
        -->
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
  <p>
    Topics
  </p>
  <div id="topic_list">
    <script>
    const kafkaReqAddress = 'http://ec2-13-59-190-223.us-east-2.compute.amazonaws.com:3000/'
    request(kafkaReqAddress + "topics", function(error, response, body) {
      createElements(body);
    });

    function createElements(elements) {
      // Assuming you get an array of objects.
      elements = JSON.parse(elements);
      elements.forEach(function (element) {
        var div = document.getElementById(element.id);
        div.innerHTML = element.text;
      });
    }
    // request.onload = createElements;
    //request.send();
    </script>
  </div>
</div>
  </div>
</body>
</html>
